@CHARSET 'UTF-8';
*{
	margin: 0;
	padding: 0;
}
body{
	width: 960px;
	margin: 0 auto;
	background: #fff;
	font-size: 14px;
}
ul{
	list-style: none;
}
h2{
	font-size: 14px;
	background: #eee;
	height: 25px;
	line-height: 25px;
	text-indent: 10px;
}
#header{
	width: auto;
	height: 150px;
	border:2px solid #ccc;
	margin: 10px 0;
}
#header ul{
	text-align: right;
	padding: 30px 50px 0 0;
}
#header ul li{
	display: inline;
	margin: 0 5px;
}
#header ul li a{
	text-decoration: none;
	color: #333;
}
#header ul li a:hover{
	color: #d55;
}
#footer{
	clear: both;
	width: auto;
	height: 60px;
	text-align: center;
	padding-top: 10px;
}
#footer p{
	font-size: 12px;
	letter-spacing: 1px;
	padding-top: 5px;
}

#page_num{
	clear: both;
	height: 20px;
	padding: 10px 0;
	position: relative;
}
#page_num ul{
	height: 20px;
	position: absolute;
	right: 10px;
}
#page_num ul li{
	float: left;
	width: 26px;
	height: 20px;
}
#page_num ul li a{
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #333;
	text-align: center;
	text-decoration: none;
	line-height: 20px;
}
#page_num ul li a:hover,#page_num ul li a.selected{
	background: #666;
	font-weight: 600;
	color:white;
}

#page_text{
	clear: both;
	height: 20px;
	padding: 20px 0;
}
#page_text ul{
	text-align: center;
}
#page_text ul li,#page_text ul li span{
	display: inline-block;
}
#page_text ul li span{
	margin: 0 8px;
}
#page_text ul li a{
	color: #333;
}
input{
	margin-left: 5px;
	padding-left: 5px;
}
#member{
	width: auto;
	height: 600px;
	border: 2px solid #ccc;
	font-size: 12px;
}
#member h2{
	text-indent: 0;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
#member_sidebar{
	width: 300px;
	height: 500px;
	margin: 15px;
	border: 1px dashed #999;
	float: left;
}
#member_sidebar dl{
	width: 250px;
	margin: 15px auto;
}
#member_sidebar dl dt{
	height: 40px;
	line-height: 40px;
	background-color: #999;
	font-weight: 600;
	text-align: center;
	color: #fff;
}
#member_sidebar dl dd{
	height: 40px;
	line-height: 40px;
	background-color: #eee;
	font-weight: 600;
	text-align: center;
}
#member_sidebar dl dd a{
	display: block;
	color: #333;
	text-decoration: none;
}
#member_sidebar dl dd a:hover{
	background: #ccc;
}
#member_main{
	width: 590px;
	height: 500px;
	margin: 15px;
	float: right;
	border: 1px dashed #999;
}