@CHARSET 'UTF-8';
#login{
	width: auto;
	height: 400px;
	border: 2px solid #ccc;
	font-size: 12px;
}
#login h2{
	text-indent: 0;
	text-align: center;
}
dl{
	text-align: center;
	margin: 0 auto;
}
dt{
	text-align: center;
	padding:10px 0;
	font-weight: 600;
}
dd{
	margin: 5px 0;
}
dd input.text{
	width: 200px;
	height: 19px;
	border:1px dashed #333;
	background: #fff;
	padding-left: 3px;
}
input{
	outline: none;
}

dd input.yzm{
	width: 60px;
}
dd img{
	cursor: pointer;
	vertical-align: bottom;
}
.submit{
	width: 60px;
	height: 19px;
	border: 1px dashed #333;
	cursor: pointer;
	background: #fff;
	margin: 0 20px;
}